<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>Weather Project</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<br><br><br>
   	<select>
  		<option>Choose town...</option>
  		<option th:each="town : ${towns}" th:text="${town}"></option>
 	</select>	
	
	<br><br><br>
	<br><br><br>
	
	<table width="100%" border="1" align="center">
      <tr>
        <th>Town</th>
        <th>Date</th>
        <th>Temperature, C</th>
      </tr>
      <tr th:each="record : ${records}">
        <td align="center" th:text="${record.townName}">Test</td>
        <td align="center" th:text="${record.date}">12-09-2021</td>
        <td align="center" th:text="${record.temperature}">39</td>
      </tr>
    </table>
	
	
</body>
</html>