<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>Getting Started: Serving Web Content</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<br><br><br>
   	<select>
  		<option th:each="town : ${towns}" th:text="${town}"></option>
 	</select>
	
	<br><br><br>
	<br><br><br>
	<table>
		<tr>
    		<th>Town</th>
    		<th>Date<th>
   			<th>Temperature, C</th>
  		</tr>
  		<tr>
    		<td>Астрахань</td>
    		<td>1-06-2021</td>
   			<td>32</td>
  		</tr>
	
	</table>
</body>
</html>